<h1>Cesar</h1>

 <div>
<form action="">
   <textarea class="codeinput" type="text" id="code"></textarea>
   <input class="tiltposition" type="text" id="tilt" size=5> 
   <input class="btnCode" type="button" value="-->" onclick="Cesar(sign='+')">
   <input class="btnDecode" type="button" value="<--" onclick="Cesar(sign='-')">
   <textarea class="codeoutput"  id="status" readonly></textarea>
</form>
<table class="rotTable" id="myTable" onclick="ROTFunction()">
<tr>
    <th>ROT - ></th>
    <th>Результат смещения</th>
  </tr>
</table>
</br>
 </div>
 